[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
plotly = "*"
json = "*"

[dev-packages]

[requires]
python_version = "3.10"
