{% extends "base.html" %}

{% block content %}
{% for symbol in portfolio %}
    <p1>{{ symbol }}</p1>
{% endfor %}
<form method="put" id="add" action="/portfolio/add">
    <button type="submit" formaction="/portfolio/add">Add</button>
</form>
<form method="put" id="del" action="/portfolio/del">
    <button type="submit" formaction="/portfolio/del">Delete</button>
</form>
<form method="put" id="clear" action="/portfolio/clear">
    <button type="submit" formaction="/portfolio/clear">Clear</button>
</form>
{% endblock%}
